h1, h2, h3, h4, h5, h6, form, ul, p {
 color: rgb(56, 56, 56);
}
* {
   margin: 0;
   padding: 0;
}

body, html {
   height:100%;
}
#canvas {
   position:absolute;
   height:100%; width:100%;
}
body {
  background-color: #fffbf4;
}
nav {
  background-color: white;
}
input {
   padding: 0.5rem 1rem;
}